In [1]:
import pandas as pd
import datetime
import numpy as np

In [2]:
df = pd.read_csv('/Users/alphonsowoodbury/DS/code/Projects/DCDS-MOD1---MS-Movies/src/sandbox/budgets_and_genres')

In [3]:
genres = df['genres']

In [4]:
genres

0            Drama,Horror,Sci-Fi
1       Action,Adventure,Fantasy
2        Action,Adventure,Sci-Fi
3        Action,Adventure,Sci-Fi
4         Family,Fantasy,Musical
5        Action,Adventure,Sci-Fi
6          Biography,Drama,Music
7        Action,Adventure,Sci-Fi
8        Action,Adventure,Sci-Fi
9           Drama,Family,Fantasy
10                Comedy,Romance
11       Action,Adventure,Comedy
12       Action,Adventure,Comedy
13    Adventure,Animation,Comedy
14    Adventure,Animation,Comedy
15         Action,Crime,Thriller
16       Horror,Mystery,Thriller
17               Horror,Thriller
18       Biography,Drama,History
19    Adventure,Animation,Comedy
20    Action,Adventure,Animation
21    Adventure,Animation,Comedy
22               Horror,Thriller
23       Action,Adventure,Comedy
24       Action,Adventure,Sci-Fi
25       Action,Adventure,Sci-Fi
26            Comedy,Drama,Music
27    Adventure,Animation,Comedy
28                  Comedy,Music
29       Action,Adventure,Sci-Fi
30       Animation,Comedy,Family
31       Action,Adventure,Sci-Fi
32       Biography,Drama,History
33      Action,Adventure,Fantasy
34       Action,Adventure,Sci-Fi
35        Adventure,Drama,Family
36        Adventure,Drama,Sci-Fi
37    Adventure,Animation,Comedy
38       Action,Adventure,Comedy
39       Horror,Mystery,Thriller
40                  Drama,Family
41      Action,Adventure,Fantasy
42    Adventure,Animation,Comedy
Name: genres, dtype: object

In [5]:
profit = df['domestic_profit']

In [6]:
profit

0     171024361
1     175061807
2     128405868
3     378815482
4     344014165
5     500059566
6     161303339
7     158084349
8     251525952
9     106151353
10    144532921
11    214591735
12    305070709
13    189624300
14    286295561
15    163007020
16    171040665
17    149342015
18    144607287
19    102500092
20    408581744
21    181461711
22    292481748
23    314508916
24    437270625
25    247719760
26    131101803
27    262045770
28    155296230
29    332177324
30    195329045
31    159201140
32    133197785
33    150100054
34    121723902
35    189001123
36    120433663
37    293384330
38    135058289
39    155006930
40    112422809
41    262563408
42    191268248
Name: domestic_profit, dtype: int64